*{
    margin: 0;
    padding: 0;
}
 header{
    background-color: aqua;
margin: 0;
padding: 0;}


main{
    background-color: yellow;
    width:60%;
    margin: auto;
    display: flex;
    padding: 40px;
    color: mediumblue;
    justify-content: space-between;

}

footer {background: yellowgreen;
}

section { border: 1px solid black;
          width: 30%;
          padding: 20px;  
}
